@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

#mcp_chat-container {
  font-family: 'Open Sans', sans-serif;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 350px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transform: translateY(100%);
  visibility: hidden;
  opacity: 0;
  z-index: 999;
  transition: all 0.3s ease;
}

#mcp_chat-header {
  background-color: #001930;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;

  border-top: 1px white solid;
  border-left: 1px white solid;
  border-right: 1px white solid;
  border-radius: 9px;
}

#mcp_chat-header-avatar {
  width: 55px;
  height: 53px;
  border-radius: 50%;
  margin-right: 10px;
}

#mcp_chat-header-text {
  flex-grow: 1;
}

#mcp_chat-header-agent-name {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

#mcp_chat-header-agent-email {
  font-size: 0.8em;
  opacity: 0.75;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

#mcp_chat-messages {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
  background: #f2f2f2;
}

#mcp_chat-input-container {
  border-top: 1px solid #ccc;
  padding: 10px;
  display: flex;
}

#mcp_chat-input {
  flex-grow: 1;
  border: none;
  padding: 10px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  padding-top: 10px;
  margin-bottom: 0;
  background: white;
  color: #333333;
}

#mcp_chat-input::placeholder {
  color: #333333; /* Replace #yourColor with the color you want */
}

#mcp_chat-send-button {
  background-color: #001930;
  color: #fff;
  border: none;
  width: 30px!important;
  height: 30px!important;
  border-radius: 50%;
  padding: 13px;

}

.mcp_send-img {
  width: 20px;
  height: 20px;
}

#mcp_chat-send-button img {
  filter: invert(1);
}

/* Hide the default browser focus outline */
#mcp_chat-input:focus, #mcp_chat-send-button:focus {
  outline: none;
}

.mcp_message {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  margin-bottom: 8px;
  word-wrap: break-word;
  font-size: 0.9rem;
}

.mcp_user-message {
  background-color: #202a37;
  color: #fff;
  align-self: flex-end;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.mcp_bot-message {
  background-color: #cfcfcf;
  color: #333;
  margin-right: auto;
  margin-bottom: 10px;
}

/* Additional styles for message content for better readability */
.mcp_message-content {
  word-wrap: break-word;
  padding: 5px;
}

#mcp_chat-container {
  min-height: 400px;
}

#mcp_chat-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #E2E270;
  color: #fff;
  border: 3px #fff solid;
  border-radius: 50%;
  z-index: 999;
  height: 50px;
  width: 50px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  font-family: 'Open Sans', sans-serif;
  padding: 4px 5px 5px 7px;
  zoom: 1;
}

#mcp_chat-toggle img{
  width: 35px;
  height: 35px;
}

.mcp_chat-closed {
  transform: translateY(100%);
  visibility: hidden;
  opacity: 0;
}

.mcp_chat-open {
  display: none;
}

#mcp_chat-container:not(.mcp_chat-closed) {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

#mcp_chat-toggle.mcp_chat-open {
  display: none;
}

.mcp_message {
  display: flex;
  max-width: 80%;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.mcp_user-message, .mcp_bot-message {
  border-radius: 16px;
  padding: 12px 15px; /* Adjust padding for bubbles */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
  line-height: 20px;
}

.mcp_user-message {
  background-color: #202a37;
  color: #fff;
  align-self: flex-end;
}

#mcp_typing-area {
  background-color: #f2f2f2;
  padding-top: 10px;
}

.mcp_user-message::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: -10px; /* Tail out from the right side */
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #202a37;
  border-bottom: 0;
  margin-left: -10px;
  margin-bottom: -10px;
}

.mcp_bot-message::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -10px; /* Tail out from the left side */
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #e5e5ea;
  border-bottom: 0;
  margin-right: -10px;
  margin-bottom: -10px;
}

#mcp_chat-messages {
  display: flex;
  flex-direction: column;
  padding: 10px 20px; /* Adjust padding inside the messages container */
  max-height: 300px; /* Adjust to your preference */
  overflow-y: auto;
  scroll-behavior: smooth;
}

#mcp_chat-close-button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 2px;
  padding: 10px 10px 10px 10px!important;
}

#mcp_chat-close-button img {
  filter: invert(1);
  zoom:1.4;
}

/* Optional: change the 'X' button color on hover for better user feedback */
#mcp_chat-close-button:hover {
  color: #ddd;
}

/*.mcp_typing-indicator {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  direction: rtl;
  margin-left: 10px;
  align-items: center;
  padding: 12px 15px;
  background-color: #cfcfcf;
  border-radius: 16px;
  margin: 10px 10px 10px 30px; 
  max-width: 15%;
}*/

@keyframes blink {
  0% { opacity: .2; }
  20% { opacity: 1; }
  100% { opacity: .2; }
}

.mcp_typing-indicator {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
  height: 35px; /* Adjust as needed */
  background-color: #cfcfcf;
  border-radius: 20px; /* Adjust for rounded corners */
  padding: 8px 20px;
  max-width: 30%;
  margin-left: 20px;
}

.mcp_dot {
  width: 8px; /* Dot size */
  height: 8px; /* Dot size */
  margin: 0 4px;
  background-color: #000; /* Dot color */
  border-radius: 50%; /* Makes dots circular */
  animation: blink 1.4s infinite both;
}

.mcp_dot:nth-child(2) {
  animation-delay: .2s;
}

.mcp_dot:nth-child(3) {
  animation-delay: .4s;
}
#mcp_brand-container {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #e1e1e1;
  font-family: 'Open Sans', sans-serif!important;
  font-weight: bold;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none; /* Optional padding at the bottom */
}

#mcp_brand-container span {
  font-weight: 300;
}

#mcp_brand-container a {
  font-weight: bolder;
}

#mcp_brand-name {
  font-family: 'Open Sans', sans-serif!important;
  font-size: 0.8em; /* Adjust the size of your brand name text as needed */
  color: #202a37; /* Brand color, you can change this */
  text-decoration: none!important; /* Remove the underline from the link */
  /* You can add :hover style to make it clear it's clickable */
}

#mcp_brand-name:hover {
  text-decoration: none; /* Re-add underline on hover to indicate a link */

}