@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

#mcp_chat-container {
  font-family: 'Open Sans', sans-serif;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transform: translateY(100%);
  visibility: hidden;
  opacity: 0;
  z-index: 999;
  transition: all 0.3s ease;
}

#mcp_chat-header {
  background-color: #060912;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
}

#mcp_chat-header-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

#mcp_chat-header-text {
  flex-grow: 1;
}

#mcp_chat-header-agent-name {
  font-weight: bold;
}

#mcp_chat-header-agent-email {
  font-size: 0.8em;
  opacity: 0.75;
}

#mcp_chat-messages {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
  background: #f2f2f2;
}

#mcp_chat-input-container {
  border-top: 1px solid #ccc;
  padding: 10px;
  display: flex;
}

#mcp_chat-input {
  flex-grow: 1;
  border: none;
  padding: 10px;
  border-radius: 20px;
}

#mcp_chat-send-button {
  background-color: #202a37;
  color: #fff;
  border: none;
  margin-left: 10px;
  width: 40px;
  border-radius: 50%;
  font-size: 16px;
  width: 50px;
  height: 50px;
  padding-top: 5px;
  padding-left: 8px;
}

.mcp_send-img {
  width: 20px;
  height: 20px;
}

#mcp_chat-send-button img {
  filter: invert(1);
}

/* Hide the default browser focus outline */
#mcp_chat-input:focus, #mcp_chat-send-button:focus {
  outline: none;
}

.mcp_message {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  margin-bottom: 8px;
  word-wrap: break-word;
  font-size: 0.9rem;
}

.mcp_user-message {
  background-color: #202a37;
  color: #fff;
  align-self: flex-end;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.mcp_bot-message {
  background-color: #cfcfcf;
  color: #333;
  margin-right: auto;
  margin-bottom: 10px;
}

/* Additional styles for message content for better readability */
.mcp_message-content {
  word-wrap: break-word;
  padding: 5px;
}

#mcp_chat-container {
  min-height: 400px;
}

#mcp_chat-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #202a37;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  z-index: 999;
  height: 50px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.mcp_chat-closed {
  transform: translateY(100%);
  visibility: hidden;
  opacity: 0;
}

.mcp_chat-open {
  display: none;
}

#mcp_chat-container:not(.mcp_chat-closed) {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

#mcp_chat-toggle.mcp_chat-open {
  display: none;
}

.mcp_message {
  display: flex;
  max-width: 80%;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.mcp_user-message, .mcp_bot-message {
  border-radius: 16px;
  padding: 12px 15px; /* Adjust padding for bubbles */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

.mcp_user-message {
  background-color: #202a37;
  color: #fff;
  align-self: flex-end;
}

#mcp_typing-area {
  background-color: #f2f2f2;
}

.mcp_user-message::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: -10px; /* Tail out from the right side */
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #202a37;
  border-bottom: 0;
  margin-left: -10px;
  margin-bottom: -10px;
}

.mcp_bot-message::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -10px; /* Tail out from the left side */
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #e5e5ea;
  border-bottom: 0;
  margin-right: -10px;
  margin-bottom: -10px;
}

#mcp_chat-messages {
  display: flex;
  flex-direction: column;
  padding: 10px 20px; /* Adjust padding inside the messages container */
  max-height: 300px; /* Adjust to your preference */
  overflow-y: auto;
  scroll-behavior: smooth;
}

#mcp_chat-close-button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 10px;
  position: absolute;
  top: 15px;
  right: 10px;
}

#mcp_chat-close-button img {
  filter: invert(1);
  zoom:1.4;
}

/* Optional: change the 'X' button color on hover for better user feedback */
#mcp_chat-close-button:hover {
  color: #ddd;
}

.mcp_typing-indicator {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  direction: rtl;
  margin-left: 10px;
  align-items: center;
  padding: 12px 15px;
  background-color: #cfcfcf;
  border-radius: 16px;
  margin: 10px 10px 10px 30px; /* Adjust margin to align it to the right like bot messages */
  max-width: 15%; /* Same as other message bubbles */
}

.mcp_dot {
  width: 8px;
  height: 8px;
  background-color: #333;
  border-radius: 50%;
  margin: 0 2px; /* Spacing between dots */
  animation: typing 1.4s infinite both;
}

.mcp_dot:nth-child(1) { animation-delay: -0.32s; }
.mcp_dot:nth-child(2) { animation-delay: -0.16s; }

@keyframes typing {
  0% { transform: translateY(0); }
  28% { transform: translateY(-6px); }
  44% { transform: translateY(0); }
}

#mcp_brand-container {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #e1e1e1;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none; /* Optional padding at the bottom */
}

#mcp_brand-name {
  font-size: 0.8em; /* Adjust the size of your brand name text as needed */
  color: #202a37; /* Brand color, you can change this */
  text-decoration: none!important; /* Remove the underline from the link */
  /* You can add :hover style to make it clear it's clickable */
}

#mcp_brand-name:hover {
  text-decoration: underline; /* Re-add underline on hover to indicate a link */
}